<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>latte-rodeo</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>rodeo</realm-name>
	</login-config>
	<security-role>
		<role-name>rodeo-admin</role-name>
	</security-role>
	<security-role>
		<role-name>rodeo-developer</role-name>
	</security-role>
	<security-constraint>
		<display-name>protected</display-name>
		<web-resource-collection>
			<web-resource-name>api</web-resource-name>
			<url-pattern>/api/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>rodeo-developer</role-name>
			<role-name>rodeo-admin</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>